@import "base";
/***************************************************************/
.navbar-default{
    background-color: $secondary-color !important;
    border-top-color: $primary-color;
}
.side-menu{
    background: $secondary-color !important;
    &::-webkit-scrollbar {
        width: 9px;
      }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: none;
        background-color: #fff;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $primary-color;
        outline: 1px solid #fff;
        border-radius: 30px;
    }
}
#sidebar-menu {
    & > ul > li > a {
        color: #fff;
        background-color: transparent;
        &:hover{
            color: $primary-color;
        }
        &.active {
            border-right: 3px solid $primary-color;
            color: $primary-color !important;
        }
    }
    .subdrop{
        border-right: 3px solid $primary-color;
        color: $primary-color !important;
    }
    ul ul a:hover {
        color: $primary-color;
    }
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover > a {
    color: $primary-color;
    border-color: $primary-color;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover > ul a:hover{
    color: $primary-color;
}
/**************/
.breadcrumb a{
    color: $primary-color;
}
.btn-purple {
    background-color: $primary-color !important;
    border: 1px solid $primary-color !important;
    &:hover , &:focus &:active{
        background-color: $secondary-color !important;
        border-color: $secondary-color !important;
    }
}
.btn-primary {
    background-color: $pink-color !important;
    border: 1px solid $pink-color !important;
    color: $black-color !important;
    &:hover , &:focus , &:active{
        background-color: $primary-color !important;
        border-color: $primary-color !important;
        color: #fff !important;
    }
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: $primary-color;
    border-color: $primary-color;
}
table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before{
    background-color: $primary-color;
}
.text-center.form-group.row .btn-success {
    max-width: 200px;
    background-color: $secondary-color !important;
    border-color: $secondary-color !important;
    &:hover , &:focus , &:active{
        background-color: $black-color !important;
        border-color: $black-color !important;
    }
}
.form-group.row.col-12 .btn-primary {
    max-width: 200px;
    margin-inline: auto;
}
.list-inline .text-primary{
    color: $primary-color !important;
}
/****************** Login *******************/
.account-pages {
    background: url(../images/slider1.webp) center;
}
.wrapper-page .card-box{
    background-color: rgba(0 ,0 ,0 ,.6);
    h4.text-uppercase.font-bold.m-b-0{
        color: #fff;
    }
    .btn-bordred.btn-custom{
        background-color: $primary-color !important;
        border-color: $primary-color !important;
        max-width: 200px;
        height: 45px;
        font-size: 16px;
        &:hover , &:focus , &:active{
            background-color: $secondary-color !important;
            border-color: $secondary-color !important;
        }
    }
}
/****************** Resonsive *******************/
@media screen and (max-width: 767px) {
    div.dataTables_paginate {
        margin-top: 10px;
    }
}